<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Sacá tu client_id/client_secret gratis en api-transporte.buenosaires.gob.ar
	     y copiá este archivo como Secrets.plist -->
	<key>BAClientId</key>
	<string></string>
	<key>BAClientSecret</key>
	<string></string>
</dict>
</plist>
